@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-color: 96, 165, 250; /* 薄い青色 */
  --secondary-color: 191, 219, 254; /* より薄い青色 */
  --accent-color: 59, 130, 246; /* アクセント用の青色 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* カスタムユーティリティクラス */
@layer utilities {
  .text-primary {
    color: rgb(var(--primary-color));
  }
  
  .bg-primary {
    background-color: rgb(var(--primary-color));
  }
  
  .text-secondary {
    color: rgb(var(--secondary-color));
  }
  
  .bg-secondary {
    background-color: rgb(var(--secondary-color));
  }
  
  .text-accent {
    color: rgb(var(--accent-color));
  }
  
  .bg-accent {
    background-color: rgb(var(--accent-color));
  }
  
  .hover-primary:hover {
    color: rgb(var(--primary-color));
  }
  
  .hover-bg-primary:hover {
    background-color: rgb(var(--primary-color));
  }
} 